p.article {
    font-family: Helvetica, sans-serif;
    font-size: 4em;
    color: #8852a7;
}

h1.fun {
    font-family: Helvetica, sans-serif;
    border: 2px dotted #88ae71;
    color: #4354a7;
    font-weight: 100
}